<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--导入数据库配置文件-->
	<properties resource="mysql.properties"/>
	<settings>
		<!-- 开启mybatis缓存设置,一般都是true -->
		<setting name="cacheEnabled" value="true"/>

		<!--延迟加载的全局开关-->
		<setting name="lazyLoadingEnabled" value="false"/>

		<!--设置超时时间-->
		<setting name="defaultStatementTimeout" value="3000"/>


		<!--本地缓存机制-->
		<setting name="localCacheScope" value="STATEMENT"/>

		<setting name="defaultExecutorType" value="SIMPLE"/>

		<setting name="mapUnderscoreToCamelCase" value="true"/>

		<!--允许JDBC支持自动生成主键,需要驱动的兼容-->
		<!--<setting name="useGeneratedKeys" value="true"/>-->
	</settings>
	<typeAliases>
		<!--包含xml的包 类似 “com.seapeng.mybatistest.mapper”-->
		<package name="com.seapeng.model"/>
	</typeAliases>
	<!--以下保持默认-->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
			</transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!--xml的路径 类似“com/seapeng/mybatistest/model/User.xml”-->
		<mapper resource="mapper/TUserMapper.xml"/>
	</mappers>
</configuration>