<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seapeng.inter.TInRecordMapper" >
  <resultMap id="BaseResultMap" type="com.seapeng.model.TInRecord" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="RECORD_DATE" property="recordDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, RECORD_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_in_record
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_in_record
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seapeng.model.TInRecord" >
    insert into t_in_record (ID, RECORD_DATE)
    values (#{id,jdbcType=INTEGER}, #{recordDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.seapeng.model.TInRecord" >
    insert into t_in_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="recordDate != null" >
        RECORD_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recordDate != null" >
        #{recordDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seapeng.model.TInRecord" >
    update t_in_record
    <set >
      <if test="recordDate != null" >
        RECORD_DATE = #{recordDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seapeng.model.TInRecord" >
    update t_in_record
    set RECORD_DATE = #{recordDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>