<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seapeng.inter.TPublisherMapper" >
  <resultMap id="BaseResultMap" type="com.seapeng.model.TPublisher" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PUB_NAME" property="pubName" jdbcType="VARCHAR" />
    <result column="PUB_TEL" property="pubTel" jdbcType="VARCHAR" />
    <result column="PUB_LINK_MAN" property="pubLinkMan" jdbcType="VARCHAR" />
    <result column="PUB_INTRO" property="pubIntro" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PUB_NAME, PUB_TEL, PUB_LINK_MAN, PUB_INTRO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_publisher
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_publisher
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seapeng.model.TPublisher" >
    insert into t_publisher (ID, PUB_NAME, PUB_TEL, 
      PUB_LINK_MAN, PUB_INTRO)
    values (#{id,jdbcType=INTEGER}, #{pubName,jdbcType=VARCHAR}, #{pubTel,jdbcType=VARCHAR}, 
      #{pubLinkMan,jdbcType=VARCHAR}, #{pubIntro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.seapeng.model.TPublisher" >
    insert into t_publisher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="pubName != null" >
        PUB_NAME,
      </if>
      <if test="pubTel != null" >
        PUB_TEL,
      </if>
      <if test="pubLinkMan != null" >
        PUB_LINK_MAN,
      </if>
      <if test="pubIntro != null" >
        PUB_INTRO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pubName != null" >
        #{pubName,jdbcType=VARCHAR},
      </if>
      <if test="pubTel != null" >
        #{pubTel,jdbcType=VARCHAR},
      </if>
      <if test="pubLinkMan != null" >
        #{pubLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="pubIntro != null" >
        #{pubIntro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seapeng.model.TPublisher" >
    update t_publisher
    <set >
      <if test="pubName != null" >
        PUB_NAME = #{pubName,jdbcType=VARCHAR},
      </if>
      <if test="pubTel != null" >
        PUB_TEL = #{pubTel,jdbcType=VARCHAR},
      </if>
      <if test="pubLinkMan != null" >
        PUB_LINK_MAN = #{pubLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="pubIntro != null" >
        PUB_INTRO = #{pubIntro,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seapeng.model.TPublisher" >
    update t_publisher
    set PUB_NAME = #{pubName,jdbcType=VARCHAR},
      PUB_TEL = #{pubTel,jdbcType=VARCHAR},
      PUB_LINK_MAN = #{pubLinkMan,jdbcType=VARCHAR},
      PUB_INTRO = #{pubIntro,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>